In [1]:
import pandas as pd
import pylab
import json
%matplotlib inline
import matplotlib.pyplot as plt
#plt.style.use('seaborn-whitegrid') # TODO: what did this do?
import numpy as np
from IPython.core import display
import psycopg2
import os
homedir = os.getenv("HOME")
with open(homedir + "/.pgpass",'r') as pgfile:
    pgdat = pgfile.read().strip().split(":")
    pgurl = pgdat[0]
    pgport = pgdat[1]
    pgdb = pgdat[2]
    pguser = pgdat[3]
    pgpass = pgdat[4]

%load_ext sql
from sqlalchemy import create_engine
# sql info: https://github.com/catherinedevlin/ipython-sql
# on error `pip install ipython-sql`
#uncomment for remote
#pgport=3333
pgport=5433
engine = create_engine('postgresql://postgres@localhost:%i/postgres' % pgport)
db = psycopg2.connect(host=pgurl, database=pgdb, user=pguser,password=pgpass,port=pgport)

In [2]:
def qry(q):
  return pd.read_sql_query(con = db, sql = q)
# pd.set_option("max_colwidth", None)
# pd.set_option('display.max_columns', None)
pd.set_option("display.latex.repr", False)
pd.set_option("display.latex.escape", True)

def iDisplay(v):
    with pd.option_context('display.max_rows', None, 'display.max_columns', None, "max_colwidth", None):
        display.display(v)

Count number of uploaded APK files

In [3]:
%%sql postgresql://postgres@localhost:$pgport/postgres
select count(*) from apks where apkname not like 'jar_%' and apkname not like 'spec_%';

1 rows affected.

[(3,)]

In [13]:
%%sql
select
    (select count(*) from apks) as apk_count, 
    (select count(*) from inputs) as input_count, 
    (select count(*) from jobs) as job_count, 
    (select count(*) from resultdata) as result_data_count, 
    (select count(*) from results) as result_count

 * postgresql://postgres@localhost:5433/postgres
1 rows affected.

[(5, 1, 2226, 15, 68)]

Print jobs and statuses

In [88]:
%%sql
select 
    (select count(*) from jobs where status = 'completed') as Completed_Jobs,
    (select count(*) from jobs where status = 'paused') as Paused_Jobs,
    (select count(*) from jobs where status = 'acquired') as Acquired_jobs,
    (select count(id) from jobs 
       where stderr like '%Exception%no active body present for method%') as Body_Exception,
    (select count(id) from jobs where stderr like '%an implementation is missing%') as unimplemented,
    (select count(id) from jobs where stderr like '%Exception%') as Exception,
    (select count(id) from jobs where stderr like '%no libz3java in java.library.path%') as path_exception,
    (select count(id) from jobs where stderr like '%Failed to parse reflective type reference%') as Refl_exception,
    (select count(id) from jobs where status like 'failed%') as worker_failure,
    (select count(id) from jobs where stdout like '%empty pred location%') as possible_cg_unsound,
    (select count(*) from jobs) as Total_Jobs

 * postgresql://postgres@localhost:5433/postgres
1 rows affected.

[(1316, 0, 7, 0, 0, 0, 0, 0, 0, 0, 2226)]

In [8]:
# find exceptions
#%%sql 
#select replace(cast(stderr as varchar),'$','\$') from jobs where stderr like '%Exception%' limit 1;
out = %sql select stderr,config from jobs where stderr like '%Exception%' order by random() limit 1;
if(len(out) != 0):
    print(out[0][1])
    print(out[0][0])
else:
    print("none")

 * postgresql://postgres@localhost:5433/postgres
0 rows affected.
none

In [23]:
# find exceptions
#%%sql 
#select replace(cast(stderr as varchar),'$','\$') from jobs where stderr like '%Exception%' limit 1;
out = %sql select stderr,config from jobs where stderr like '%an implementation is missing%' order by random() limit 1;
if(len(out) != 0):
    print(out[0][1])
    print(out[0][0])
else:
    print("none")

 * postgresql://postgres@localhost:5433/postgres
0 rows affected.
none

Get failing apks

In [24]:
%%sql
select cast(config::json->'apkPath' as text) from jobs 
        where stderr like '%Exception%' group by cast(config::json->'apkPath' as text) ;

 * postgresql://postgres@localhost:5433/postgres
0 rows affected.

[]

In [75]:
%%sql
select cast(config::json->'apkPath' as text) as app,count(*) as count from jobs group by app order by count desc;

 * postgresql://postgres@localhost:5433/postgres
3 rows affected.

[('"${baseDir}/AntennaPod/app/build/outputs/apk/free/debug/app-free-debug.apk"', 1864),
 ('"${baseDir}/connectbot/app/build/outputs/apk/google/debug/app-google-debug.apk"', 235),
 ('"${baseDir}/sgtpuzzles/app/build/outputs/apk/debug/app-debug.apk"', 127)]

In [86]:
%%sql
select count(*),status from jobs group by status;

 * postgresql://postgres@localhost:5433/postgres
3 rows affected.

[(1159, 'completed'), (1060, 'new'), (7, 'acquired')]

In [85]:
%%sql 
select cast(result::json->'summary' as varchar) as summary, cast(result::json->'maxPathCh' as varchar) as ch,count(*),avg(querytime),max(querytime) from results group by summary,ch order by summary,ch;

 * postgresql://postgres@localhost:5433/postgres
3 rows affected.

[('"\\"Itimeout\\""', '"\\"UnknownCharacterization\\""', 3458, Decimal('57.3383458646616541'), 942),
 ('"\\"Unreachable\\""', '"\\"UnknownCharacterization\\""', 22994, Decimal('0.15377924676002435418'), 27),
 ('"\\"Witnessed\\""', '"\\"UnknownCharacterization\\""', 1023, Decimal('1.2209188660801564'), 28)]

In [ ]:
%%sql
select id,cast(result::json->'summary' as varchar) as summary,loc::json->'method'->>1 as clazz,loc::json->'method'->>2 from results order by random() limit 5;

Triage witness results
----------------------

In [89]:
witnessesq = %sql \
select id,jobid,resultdata,loc::json->'method'->>1 as clazz,loc::json->'method'->>2 from results \
                where cast(result::json->'summary' as varchar) like '%Witnessed%' order by id asc limit 100;

witnessesdf = witnessesq.DataFrame()
witnessesdf.to_csv('triageWit.csv')

 * postgresql://postgres@localhost:5433/postgres
100 rows affected.

In [ ]:
witnessesq = %sql \
select id,jobid,resultdata,loc::json->'method'->>1 as clazz,loc::json->'method'->>2 from results \
                where cast(result::json->'summary' as varchar) like '%Itimeout%' and cast(result::json->'maxPathCh' as varchar) like '%MultiCallback%' order by id asc limit 100;

witnessesdf = witnessesq.DataFrame()
witnessesdf.to_csv('triageWitMultiTimeout.csv')

id 	jobid 	resultdata 	clazz 	?column?
#29 	2 	2 	com.lyonbros.turtl.MainActivity 	["com.lyonbros.turtl.MainActivity","android.os.Bundle"]     (my bug) super should always be non null
#69 	1323 	477 	com.gianlu.commonutils.Preferences.BasePreferenceActivity 	["com.gianlu.commonutils.Preferences.BasePreferenceActivity","android.view.MenuItem"]     (simple) arg of cb non null
1:09 seems onOptionItemSelected wont get null value 
#107 	1326 	480 	com.health.openscale.gui.activities.UserSettingsActivity$1 	["com.health.openscale.gui.activities.UserSettingsActivity$1","android.view.View"]  (simple) ret val of callin non null 1:14
#175 	1325 	479 	com.duckduckgo.app.brokensite.BrokenSiteActivity 	["com.duckduckgo.app.brokensite.BrokenSiteActivity"] (simple) arg of ci non null 15:28
#201 	1322 	481 	org.andstatus.app.util.UriUtils 	["void","java.lang.String"] (simple) non-null callin Optional.of 1:32
#206 	1322 	481 	org.andstatus.app.note.NoteBodyTokenizer 	["org.andstatus.app.note.NoteBodyTokenizer","java.lang.CharSequence"] (likely simple) non-null parameter
#209 	1322 	481 	org.andstatus.app.timeline.BaseTimelineAdapter 	["org.andstatus.app.timeline.BaseTimelineAdapter","android.view.View"]
(revised not interesting, bug, now fixed)(interesting) value from get-parent - can be null i parent not defined. 
4045 	1322 	481 	org.andstatus.app.data.checker.CheckConversations 	["void","org.andstatus.app.data.checker.CheckConversations$NoteItem"] (possibly interesting) apply callback, may be generated code of some kind? likely a bound callback from something

1) quick scan of code for patterns that likely involve multi callback crashes.
    - deref of value read from field accessed by multiple callbacks (quick syntactic scan, needs minor upgrade to sampler)
    - value returned from "interesting" callin, e.g. getParent/getActivity - need way to identify these, perhaps just use a few known ones
    - sensitive callins e.g. execute
    
2) write specifications to avoid crashes on sampling of these interesting locations, if that fails, try to reproduce crash


RQ: Is it feasible and necessary to write cftl specifications to prove a callback ordering sensitive assertion?

We first generate a set of assertions that are likely to be useful to an android developer by scanning for patterns involved in multi callback mistakes.  We then report the number of locations proven 1)without a framework model 2) with the activity lifecycle and 3) with a hand written cftl model.  In the case of writing the model, we measure the time it takes a human to develop such a model.

In [ ]:
%%sql 
select id,jobid,resultdata,loc::json->'method'->>1 as clazz, 
        replace(cast(loc::json->'line'->'str' as varchar),'$','\$') from results where id = 40;

Triage proven results
--------------------------

In [ ]:
%%sql 
select id,jobid,resultdata,loc::json->'method'->>1 as clazz,loc::json->'method'->>2 from results 
                where cast(result::json->'summary' as varchar) like '%Proven%' order by random() limit 10;

TODO

Triage unreachable results
--------------------------

In [ ]:
%%sql 
select id,jobid,resultdata,loc::json->'method'->>1 as clazz 
            from results where cast(result::json->'summary' as varchar) like '%Unreachable%' 
            order by random() limit 15;

id 	jobid 	resultdata 	clazz
3632 	1315 	471 	io.reactivex.Flowable
3585 	1314 	470 	cc.fovea.openwith.OpenWithPlugin
3645 	1315 	471 	com.duckduckgo.app.bookmarks.ui.BookmarksViewModel
3594 	1314 	470 	cc.fovea.openwith.PluginResultSender
3580 	1314 	470 	cc.fovea.openwith.PluginResultSender
3627 	1315 	471 	io.reactivex.internal.operators.parallel.ParallelFromPublisher$ParallelDispatcher
3629 	1315 	471 	io.reactivex.internal.operators.single.SingleUnsubscribeOn
3663 	1315 	471 	io.reactivex.internal.operators.flowable.FlowableTakeUntil$TakeUntilMainSubscriber
3582 	1314 	470 	cc.fovea.openwith.PluginResultSender
3657 	1315 	471 	io.reactivex.internal.observers.QueueDrainObserver
3603 	1314 	470 	cc.fovea.openwith.ByteStreams
3669 	1315 	471 	com.duckduckgo.app.tabs.db.TabsDao_Impl$1
3586 	1314 	470 	cc.fovea.openwith.OpenWithPlugin$1
3659 	1315 	471 	io.reactivex.internal.operators.flowable.FlowableCreate$BaseEmitter
3646 	1315 	471 	io.reactivex.internal.schedulers.SchedulerPoolFactory

In [ ]:
%%sql
select id,jobid,resultdata,loc::json->'method'->>1 as clazz, 
        replace(cast(loc::json->'method'->>0 as varchar),'$','\$') as mname, 
        replace(cast(loc::json->'line' as varchar),'$','\$') as location 
        from results where id = 15037;


id      jobid	resultdata	clazz
15037	243  	761     	itkach.aard2.ArticleWebView$4

12610	90  	676     	org.tukaani.xz.lzma.LZMAEncoderNormal
12479	368  	674	        com.serwylo.lexica.trie.util.LetterFrequency
8881	308 	436     	net.healeys.trie.StringTrie$Node
11298	208 	573     	org.tukaani.xz.index.IndexBase

In [ ]:
%%sql
select id,result,replace(cast(loc::json->'line' as varchar),'$','\$') as location 
    from results where loc like '%244 $r3%';

In [ ]:
%%sql
select replace(cast(loc as varchar),'$','\$') from results where id = 1494;

Runtime Stats
=============

In [ ]:
queryTime = %sql select querytime from results;
tplt = queryTime.DataFrame().plot.hist(bins=32)
# tplt.set_yscale('log')
tplt.set_xlabel('time (sec)')
# split this into proven and witnessed

In [ ]:
# Job runtimes
runtimes = %sql select ended - started as time from jobs where ended is not NULL;
runtimesDF = runtimes.DataFrame()
runtimesDF['time'] = runtimesDF['time'].apply(lambda x: x.total_seconds() / (60))
tplt = runtimesDF.plot.hist(bins=32)
tplt.set_yscale('log')
tplt.set_xlabel('time (min)')

In [ ]:
# Plot job time trend
rtvt = %sql select started, ended - started as time from jobs where ended is not NULL;
rtvtDF = rtvt.DataFrame()
rtvtDF.sort_values('started', ascending=True)
fig, ax = plt.subplots()
ax.plot_date(rtvtDF['started'], rtvtDF['time'], marker='*', linestyle='')

fig.autofmt_xdate()
plt.show()

Total job time

In [ ]:
%%sql
select sum(ended-started) from jobs where ended is not NULL;

In [ ]:
%%sql
select sum(querytime)/60./60. from results;

In [ ]:
%%sql
select now() - min(started) from jobs;

Size of postgres data
=====================

In [76]:
%%sql
WITH RECURSIVE pg_inherit(inhrelid, inhparent) AS
    (select inhrelid, inhparent
    FROM pg_inherits
    UNION
    SELECT child.inhrelid, parent.inhparent
    FROM pg_inherit child, pg_inherits parent
    WHERE child.inhparent = parent.inhrelid),
pg_inherit_short AS (SELECT * FROM pg_inherit WHERE inhparent NOT IN (SELECT inhrelid FROM pg_inherit))
SELECT table_schema
    , TABLE_NAME
    , row_estimate
    , pg_size_pretty(total_bytes) AS total
    , pg_size_pretty(index_bytes) AS INDEX
    , pg_size_pretty(toast_bytes) AS toast
    , pg_size_pretty(table_bytes) AS TABLE
  FROM (
    SELECT *, total_bytes-index_bytes-COALESCE(toast_bytes,0) AS table_bytes
    FROM (
         SELECT c.oid
              , nspname AS table_schema
              , relname AS TABLE_NAME
              , SUM(c.reltuples) OVER (partition BY parent) AS row_estimate
              , SUM(pg_total_relation_size(c.oid)) OVER (partition BY parent) AS total_bytes
              , SUM(pg_indexes_size(c.oid)) OVER (partition BY parent) AS index_bytes
              , SUM(pg_total_relation_size(reltoastrelid)) OVER (partition BY parent) AS toast_bytes
              , parent
          FROM (
                SELECT pg_class.oid
                    , reltuples
                    , relname
                    , relnamespace
                    , pg_class.reltoastrelid
                    , COALESCE(inhparent, pg_class.oid) parent
                FROM pg_class
                    LEFT JOIN pg_inherit_short ON inhrelid = oid
                WHERE relkind IN ('r', 'p')
             ) c
             LEFT JOIN pg_namespace n ON n.oid = c.relnamespace
  ) a
  WHERE oid = parent
) a
ORDER BY total_bytes DESC limit 5;

 * postgresql://postgres@localhost:5433/postgres
5 rows affected.

[('public', 'apks', 0.0, '98 MB', '0 bytes', '98 MB', '24 kB'),
 ('public', 'results', 3701.0, '5168 kB', '264 kB', '424 kB', '4480 kB'),
 ('public', 'resultdata', 178.0, '3128 kB', '64 kB', '2936 kB', '128 kB'),
 ('public', 'jobs', 2226.0, '1336 kB', '192 kB', '112 kB', '1032 kB'),
 ('pg_catalog', 'pg_proc', 3244.0, '1192 kB', '336 kB', '56 kB', '800 kB')]

Inspection of exceptions
========================

In [ ]:
%%sql
select id,config::json->'apkPath',replace(stderr,'$','\$') from jobs where stderr like '%Exception%';

In [ ]:
#count of total results
%sql select count(*) as Total_locations_computed from results